* {
  margin: 0;
  padding: 0;
  font-family: 'Barrio', cursive;
  font-size: 10px;
}

canvas {
  display: none;
  width: 95vw;
  height: 100vh;
  border: 10px solid red;

}

.background {
  background-image: url('../videogame/assets/start-game-fondo.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2% 2.1%;
  z-index: 0;
}
.background h1 {
  margin: 3% 0;
  color: white;
  font-size: 5rem;
  text-align: center;
}
.background h2 {
  margin: 3% 0;
  color: white;
  font-size: 4rem;
  text-align: center;
  line-height: 5rem;

}
.start-button {
  background-color: white;
  box-shadow: navy;
  width: 30%;
  height: 10%;
  display: initial;
  font-size: 4rem;
}


canvas {
  display: none;
  width: 1200px;
  height: 800px;
  background-image: url(assets/taco_truck_illustration-01_2x.jpg);
  background-size: cover;

}


